.comment-feed  {
    text-align: center;
    margin: 10px;
    padding: 0% 25%;
}
.comment-list {
    padding: 2% 5%;
    margin: 2%;
    border: 2px solid #9E9E9E;
}
.search-section {
    padding: 2%;
}
.close-icon {
    border: 1px solid #b7acac;
    display: inline-block;
    padding: 1%;
    background-color: #b7acac;
}
.reply-button {
    display: inline-block;
    background-color: #b7acac;
    padding: 1px;
}