<div class="header">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                    <div class="image"></div>
                </div>
                <div class="col-11"> <span>Jio Telematics - Asset Tracking Monitoring</span></div>
            </div>
        </div>
        <div class="col-6 text-right">
            <div class="left">
                <div>Welcome</div>
                <div><strong>Asset Tracking</strong></div>
            </div>
            <div class="right">
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>